<div class="hero w-100">
    <div class="hero-background card-border">
        <div class="hero-background-image-filter">
            <img src="./img/hero-img.jpg" alt="" loading="lazy" />
            <div class="img-gradient"></div>
        </div>
    </div>

    <div id="MyClockDisplay" class="clock" onload="showTime()"></div>

    <div class="hero-text text-white">
        <div class="text-section text-center">
            <center>
                <hr width="500px;" color="white" size="10">
                <h1>WELCOME TO <strong>MY FLICK</strong></h1>
                <hr width="500px;" color="white" size="10">
            </center>

            <div id="typing">
                <h2>IT'S TIME FOR MOVIE</h2>
            </div>


        </div>
        <br>
        <div class="hero-search">
            <a class="btn text-white btn-movie fw-bold" id="submit-search" href="./discover.html">Search Now</a>
        </div>

        <a class="gotopbtn" href="#"> <i class="fas fa-arrow-up"></i> </a>

    </div>
</div>